* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    font-family: Roboto;
}

.wraper {
    width: 60%;
    margin: 2rem auto;
 }

h1 {
    font-size: 1rem;
    font-style: italic;
    color: darkslategray;
    text-align: center;
}



.bayan-item {
    position: relative;
    border-top: 0.1rem solid gray;
    cursor: pointer;
    cursor: pointer;
    display: block;
    padding: 0.3rem;
    font-size: 0.7rem;
    color: darkslategray;
}

.bayan-item-input{
   display: none;
}

.header {
    height: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p {
    color: green;
}

.header img {
    display: none;
    width: 1rem;
    height: 1rem;
}


.bayan-item-content {
    cursor: pointer;
    padding: 1.2rem;
    display: none;
}

img {
    width: 100%;  
}

.bayan-item-input:checked ~ .bayan-item-trigger{
    
}
.bayan-item-input:checked ~ .bayan-item-content{
    display: block;
}

.wraper:hover .header img {
    display: block;
}

.wraper:hover p {
    color: darkslategray

}
